div#title 
	a(href="/") .. /  
	span#list_title #{list.name}

div#elements	
	ul.elements
		- each element in list.elements
			- if (element.done)
				li.done 
					a(href="/update/" + list.name + "/" + element.name) #{element.name}
			- else 
				li.undone 
					a(href="/update/" + list.name + "/" + element.name) #{element.name}

div#add_element
	form(method="post", action="/add_element/" + list.name + "/")
			input(class="new_name", type="text", name="new_element_name", value="... element name", size="50")	
			input(type="submit", value="add!", class="add_button")
